In [5]:
ingresos = 1000
gastos= 400

print(ingresos)
print (gastos)

1000
400

In [6]:
margen = (ingresos-gastos)
print(margen)

600

In [8]:
ingresos_text = "Los ingresos han sido altos"
ingresos_alt = 'Los ingresos han sido altos'

print(ingresos_text)
print (ingresos_alt)

Los ingresos han sido altos
Los ingresos han sido altos

In [9]:
ingresos_text= "Los 'ingresos'han sido altos"

In [10]:
ingresos_text

"Los 'ingresos'han sido altos"

In [13]:
ingresos_text = "Los "ingresos" han sido altos"
ingresos_alt

SyntaxError: invalid syntax (658564253.py, line 1)

In [14]:
ingresos=1000
ingresos = 1000
ingresos text = "Los ingresos han sido altos"

SyntaxError: invalid syntax (3731202689.py, line 3)

In [15]:
gastos = 200
print(gastos)

200

In [16]:
gastos = 100
beneficios = ingresos-gastos
print(beneficios)

900

In [20]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [22]:
print(keyword.softkwlist)

['_', 'case', 'match', 'type']

In [26]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [27]:
ingresos = 1000
gastos = 100
beneficios = ingresos - gastos

In [29]:
print(ingresos)
print(gastos)
print("los beneficios han sido de:")
print(beneficios)

1000
100
los beneficios han sido de:
900

In [32]:
mes="junio"
print("los beneficios de %s han sido %s millones" %(mes, beneficios))

los beneficios de junio han sido 900 millones

In [33]:
print("los beneficios de %s han sido %s millones" %(beneficios, mes))

los beneficios de 900 han sido junio millones

In [35]:
mes = "agosto"
print ("los beneficios de", mes , "han sido de", beneficios, "millones")

los beneficios de agosto han sido de 900 millones

In [36]:
### Comentario de línea ###
### print ("Esto lo ignora") ###
print ("Esto sí lo ejecuta")

Esto sí lo ejecuta

In [37]:
print ("Fin del programa") ##Esta línea indica que hemos terminado"###

Fin del programa

In [43]:
'''
Comentario multilínea
Puedo usar varias líneas sin tener que repetir el # 
'''

""""
Los comentarios multilinea pueden ir entre comillas dobles
y tampoco se ejecutan o interpretan 
print("No se va a ejecutar")
"""

print("En cambio este print sí se ejecutará")

En cambio este print sí se ejecutará

In [45]:
ventas_jun_jul = ventas_junio + ventas_julio
ventas_junio = 100
ventas_julio = 150

print (ventas_jun_jul)

NameError: name 'ventas_junio' is not defined

In [46]:
ventas_junio = 100
ventas_julio = 150

In [48]:
ventas_jun_jul = ventas_junio + ventas_julio
print ("Las ventas de Junio-Julio han sido de",ventas_jun_jul)

Las ventas de Junio-Julio han sido de 250

In [49]:
altura = 1.80; peso = 75
print (altura, peso)

1.8 75

In [50]:
x,y,z= 12,23,45

In [51]:
x = 12
y = 23
z = 45

In [52]:
altura = 1.85
del altura

In [53]:
print (altura)

NameError: name 'altura' is not defined