In [2]:
import pandas as pd

In [3]:
# Después ejecuta
ventas = [500, 2500, 800, 200, 142, 150, 65, 120, 60, 80]
books = ['Don Quijote',
 'La Biblia',
 'El Corán',
 'Un cuento de Navidad',
 'El Principito',
 'El Señor de los Anillos',
 'El Alquimista',
 'Harry Potter y la Piedra Filosofal',
 'Y pensar que lo vi por la calle Porvenir',
 'El Código Da Vinci']

### Ejercicio 1

Crea una serie de Pandas y asignala a top_books que tenga por valores los libros en millones vendidos (es decir ventas) y como índice los títulos de los libros (Están alineados es decir el número en la posición 5 de ventas corresponde con el título en la posición 5 de books, y así con todos)

In [4]:
top_books = pd.Series(ventas, index=books)
print(top_books)

Don Quijote                                  500
La Biblia                                   2500
El Corán                                     800
Un cuento de Navidad                         200
El Principito                                142
El Señor de los Anillos                      150
El Alquimista                                 65
Harry Potter y la Piedra Filosofal           120
Y pensar que lo vi por la calle Porvenir      60
El Código Da Vinci                            80
dtype: int64

### Ejercicio 2

Muestra los títulos y sus ventas con el string formateado f"{titulo_libro} ha vendido {venta_libro} millones de unidades estimadas", utiliza un método de Series que sea equivalente a uno de diccionarios de Python.

In [8]:
for index,valor in top_books.items():
    print (f"{index} ha vendido {valor} millones de unidades estimadas")

Don Quijote ha vendido 500 millones de unidades estimadas
La Biblia ha vendido 2500 millones de unidades estimadas
El Corán ha vendido 800 millones de unidades estimadas
Un cuento de Navidad ha vendido 200 millones de unidades estimadas
El Principito ha vendido 142 millones de unidades estimadas
El Señor de los Anillos ha vendido 150 millones de unidades estimadas
El Alquimista ha vendido 65 millones de unidades estimadas
Harry Potter y la Piedra Filosofal ha vendido 120 millones de unidades estimadas
Y pensar que lo vi por la calle Porvenir ha vendido 60 millones de unidades estimadas
El Código Da Vinci ha vendido 80 millones de unidades estimadas

### Ejercicio 3

Muestra, utilizando una máscara, los libros que han vendido más de 100 millones. Bonus: Muestra sólo los títulos con una única sentencia.

In [11]:
libros_populares = top_books[top_books > 100]
print(libros_populares)

Don Quijote                            500
La Biblia                             2500
El Corán                               800
Un cuento de Navidad                   200
El Principito                          142
El Señor de los Anillos                150
Harry Potter y la Piedra Filosofal     120
dtype: int64

### Ejercicio 4

Muestra las ventas de "El Señor de los Anillos" y "El Alquimista" con una única sentencia y de dos formas diferentes (con un indexado y con un slicing)

In [14]:
print(top_books[["El Señor de los Anillos","El Alquimista"]]) ### Indexado

El Señor de los Anillos    150
El Alquimista               65
dtype: int64

In [15]:
# Forma 2 alternativa: Usando .loc con una lista de índices
print(top_books.loc[["El Señor de los Anillos", "El Alquimista"]])

El Señor de los Anillos    150
El Alquimista               65
dtype: int64

### Ejercicio 5

Crea una serie ahora sólo con los 4 primeros títulos de los libros como valores y la lista 1,3,5,8 como índices. Accede al libro en la 3a posicion y al libro con el índice 3, ¿por qué no son el mismo?

In [27]:
books = [
    'Don Quijote',  
    'La Biblia',  
    'El Corán',  
    'Un cuento de Navidad',  
    'El Principito',  
    'El Señor de los Anillos',  
    'El Alquimista',  
    'Harry Potter y la Piedra Filosofal',  
    'Y pensar que lo vi por la calle Porvenir',  
    'El Código Da Vinci'
]
primeros_titulos = pd.Series(books[:4], index=[1, 3, 5, 8])
print(primeros_titulos)

1             Don Quijote
3               La Biblia
5                El Corán
8    Un cuento de Navidad
dtype: object

In [29]:
libro_tercera_posicion = primeros_titulos.iloc[2]  # iloc para indexar por posición
print(f"Libro en la 3ª posición: {libro_tercera_posicion}")

libro_indice_3 = primeros_titulos.loc[3]  # loc para indexar por etiqueta
print(f"Libro con el índice 3: {libro_indice_3}")

Libro en la 3ª posición: El Corán
Libro con el índice 3: La Biblia

### Ejercicio 6

Crea un DataFrame con dos columnas "Título!" y "Ventas" a partir de las dos listas iniciales. Muestra la columna "Ventas" de dos formas diferentes.

In [34]:
df_libros = pd.DataFrame({"Titulo":books,"Ventas":ventas})
df_libros

                                     Titulo  Ventas
0                               Don Quijote     500
1                                 La Biblia    2500
2                                  El Corán     800
3                      Un cuento de Navidad     200
4                             El Principito     142
5                   El Señor de los Anillos     150
6                             El Alquimista      65
7        Harry Potter y la Piedra Filosofal     120
8  Y pensar que lo vi por la calle Porvenir      60
9                        El Código Da Vinci      80

In [35]:
print("\nForma 1: Columna 'Ventas' usando notación de corchetes")
print(df_libros['Ventas'])

Forma 1: Columna 'Ventas' usando notación de corchetes
0     500
1    2500
2     800
3     200
4     142
5     150
6      65
7     120
8      60
9      80
Name: Ventas, dtype: int64

In [36]:
# Forma 2: Mostrar la columna "Ventas" usando el atributo .loc
print("\nForma 2: Columna 'Ventas' usando .loc")
print(df_libros.loc[:, 'Ventas'])

Forma 2: Columna 'Ventas' usando .loc
0     500
1    2500
2     800
3     200
4     142
5     150
6      65
7     120
8      60
9      80
Name: Ventas, dtype: int64

### Ejercicio 7

Muestra la columna del título como si fuera el acceso a un diccionario y como un atributo. ¿Te ha sido posible? ¿Por qué?

In [38]:
print(df_libros['Titulo'])

0                                 Don Quijote
1                                   La Biblia
2                                    El Corán
3                        Un cuento de Navidad
4                               El Principito
5                     El Señor de los Anillos
6                               El Alquimista
7          Harry Potter y la Piedra Filosofal
8    Y pensar que lo vi por la calle Porvenir
9                          El Código Da Vinci
Name: Titulo, dtype: object

In [40]:
# Forma 2: Acceso como un atributo
print("\nForma 2: Acceso como atributo")
print(df_libros.Titulo)

Forma 2: Acceso como atributo
0                                 Don Quijote
1                                   La Biblia
2                                    El Corán
3                        Un cuento de Navidad
4                               El Principito
5                     El Señor de los Anillos
6                               El Alquimista
7          Harry Potter y la Piedra Filosofal
8    Y pensar que lo vi por la calle Porvenir
9                          El Código Da Vinci
Name: Titulo, dtype: object

### Ejercicio 8

Crea una columna que contenga el idioma original de cada libro (si lo conoces, si no pon "UNK" para ese libro), llámala "Idioma_original". Usa una lista o una Series.

In [45]:
idiomas_originales = [    'Español', 
    'Hebreo', 
    'Árabe',  
    'Inglés', 
    'Francés',  
    'Inglés',  
    'Portugués', 
    'Inglés',  
    'UNK',  
    'Inglés' 
]

# Agregar la columna "Idioma_original" al DataFrame
df_libros['Idioma_original'] = idiomas_originales

# Mostrar el DataFrame con la nueva columna
df_libros

                                     Titulo  Ventas Idioma_original
0                               Don Quijote     500         Español
1                                 La Biblia    2500          Hebreo
2                                  El Corán     800           Árabe
3                      Un cuento de Navidad     200          Inglés
4                             El Principito     142         Francés
5                   El Señor de los Anillos     150          Inglés
6                             El Alquimista      65       Portugués
7        Harry Potter y la Piedra Filosofal     120          Inglés
8  Y pensar que lo vi por la calle Porvenir      60             UNK
9                        El Código Da Vinci      80          Inglés

### Ejercicio 9

Muestra los libros, sus ventas y su idioma de los libros que hayan vendido más de 70 millones de copias

In [47]:
df_libros.loc[df_libros["Ventas"]>70,"Titulo":"Idioma_original"]

                               Titulo  Ventas Idioma_original
0                         Don Quijote     500         Español
1                           La Biblia    2500          Hebreo
2                            El Corán     800           Árabe
3                Un cuento de Navidad     200          Inglés
4                       El Principito     142         Francés
5             El Señor de los Anillos     150          Inglés
7  Harry Potter y la Piedra Filosofal     120          Inglés
9                  El Código Da Vinci      80          Inglés

### Ejercicio 10


Muestra el idioma, y solo el idioma, de los libros que hayan vendido entre 65 y 200 millones de copias

In [50]:
filtro_ventas = (df_libros['Ventas'] >= 65) & (df_libros['Ventas'] <= 200)

idiomas_filtrados = df_libros.loc[filtro_ventas, 'Idioma_original']

(idiomas_filtrados)

3       Inglés
4      Francés
5       Inglés
6    Portugués
7       Inglés
9       Inglés
Name: Idioma_original, dtype: object

In [52]:


df_sin_ventas = df_libros.loc[:, df_libros.columns != 'Ventas']

df_sin_ventas

                                     Titulo Idioma_original
0                               Don Quijote         Español
1                                 La Biblia          Hebreo
2                                  El Corán           Árabe
3                      Un cuento de Navidad          Inglés
4                             El Principito         Francés
5                   El Señor de los Anillos          Inglés
6                             El Alquimista       Portugués
7        Harry Potter y la Piedra Filosofal          Inglés
8  Y pensar que lo vi por la calle Porvenir             UNK
9                        El Código Da Vinci          Inglés