## Numéricos

In [1]:
numero = 22
print(type(numero))

<class 'int'>

In [3]:
numero_real= 16.7
print (type(numero_real))

<class 'float'>

In [4]:
numero_real_decimales = 22.45123
print (type(numero_real_decimales))

<class 'float'>

In [8]:
print ("Sumas y restas")
print(1+2)
print(1.0+2) #fíjate que cuando sumo float con int devuelve un float
print(1.0-2) #siempre que opero float con int el resultado es float#

Sumas y restas
3
3.0
-1.0

In [12]:
print ("mult y divisiones")
print(2*2)
print(2.0*2)
print(2/2) #El tipo del resultado de una división es siempre float#

mult y divisiones
4
4.0
1.0

In [16]:
print ("Resto División")
print(10/3)
print(int(10/3))
print (10 % 3)
print (10 // 3)

Resto División
3.3333333333333335
3
1
3

In [23]:
n= 25
print (" Es n par?")
resto = n % 2
print ("El resto es", resto)
if resto == 0:
    print("Es par")
else: print("Es impar")

 Es n par?
El resto es 1
Es impar

## Strings

In [27]:
#Con comillas dobles#
cadena = "esto es una variable tipo string"
#Con comillas simples#
cadena_2 = 'esto es una variable tipo string'

print(cadena)
print(cadena_2)

esto es una variable tipo string
esto es una variable tipo string

In [29]:
print("String con 'simples'")
print('String con "dobles"')
print ("String con \"simples o dobles\"")

String con 'simples'
String con "dobles"
String con "simples o dobles"

In [30]:
print ("Primera línea\nSeguna línea\n\tTercera línea, tabulada")

Primera línea
Seguna línea
	Tercera línea, tabulada

In [32]:
mi_string = "Primera Linea\nSegunda línea\n\tTercera línea, tabulada"
print (mi_string)

Primera Linea
Segunda línea
	Tercera línea, tabulada

In [36]:
nombre = "Antonia"
apellido = "Scott"
nombre_apellido = nombre+ " "+apellido
print(nombre_apellido)

Antonia Scott

In [37]:
esto_es_una_prueba = "Que estamos jugando"
un_entero=9
print(esto_es_una_prueba+un_entero)

TypeError: can only concatenate str (not "int") to str

## Booleanos

In [39]:
#Se deben escribir en Maýuscula "True" y "False"
ya_sé_de_Python = False
print (type(ya_sé_de_Python))

<class 'bool'>

In [40]:
dinero = 5
dinero >= 15

False

In [41]:
dinero = 15
cond_1 = dinero>= 15
print (cond_1)
print (type(cond_1))

True
<class 'bool'>

In [42]:
print(type(1.0))

<class 'float'>

In [43]:
print(type(-74))

<class 'int'>

In [44]:
print(type("3,45"))

<class 'str'>

In [46]:
print (type(True))

<class 'bool'>

In [47]:
print (type(cond_1))

<class 'bool'>