## Ejercicio 1

In [8]:
numero_entero = 15
numero_float = 18.369
print (numero_entero, type(numero_entero))
print  (numero_float, type(numero_float))

sum_numero = (numero_entero+numero_float)
print(sum_numero, type(sum_numero))

del (numero_entero)
del (numero_float)

15 <class 'int'>
18.369 <class 'float'>
33.369 <class 'float'>

## Ejercicio 2

In [11]:
import math

In [17]:
print("Ingrese los grados radianes")
radianes= int(input())
total_grados = radianes*((math.pi)/180)
print(total_grados)

Ingrese los grados radianes

 40

0.6981317007977318

## Ejercicio 3

In [22]:
print("Para calcular el area necesitamos que ingrese los siguientes datos en mts")

print("Base:")
base = int(input ())
print("Altura:")
altura = int(input ())
area = base*altura
print ("el area del espacio es", area, "mts2")

Para calcular el area necesitamos que ingrese los siguientes datos en mts
Base:

 600

Altura:

 400

el area del espacio es 240000 mts2

## Ejercicio 4

In [28]:
print("Para calcular el área necesitamos que ingrese los siguientes datos en metros:")

print("Base:")
base = input().replace(",", ".")  # Reemplaza coma por punto pero lo deja str
base = float(base)  # Convierte a número flotante

print("Altura:")
altura = input().replace(",", ".")  # Reemplaza coma por punto pero lo deja str
altura = float(altura)  # Convierte a número flotante

area = base * altura  # Calcula el área

print("El área del espacio es", area, "m²")

Para calcular el área necesitamos que ingrese los siguientes datos en metros:
Base:

 30,8

Altura:

 50,6

El área del espacio es 1558.48 m²

## Ejercicio 5

In [35]:
nombre = input("¿Cuál es tu nombre? ")
edad = input("¿Cuál es tu edad? ")
año_actual = 2025  # Puedes cambiarlo según el año en curso
año_nacimiento = año_actual - int(edad)
print(f"{nombre}, naciste en el año {año_nacimiento}.")

¿Cuál es tu nombre?  Brais
¿Cuál es tu edad?  28

Brais, naciste en el año 1997.