### Operacion con Series

Como Pandas está diseñado para trabajar con NumPy, casi cualquier función de NumPy funcionará con los objetos

**Series** y **DataFrame** de Pandas. Empecemos definiendo una simple  
Serie y DataFrame en la que demostrar esto:

In [1]:
import numpy as np
import pandas as pd

In [8]:
np.random.seed(42)

ser = pd.Series(np.random.randint(0,10,4))

ser

0    6
1    3
2    7
3    4
dtype: int32

In [12]:
df= pd.DataFrame(np.random.randint(0,10,(3,4)),
                 columns= ["A","B","C","D"])
df

   A  B  C  D
0  6  3  8  2
1  4  2  6  4
2  8  6  1  3

Si aplicamos funciones unitarias de NumPy tanto para

**Series** como para **DataFrame**, el resultado será otro objeto

Pandas con los índices conservados:

In [13]:
np.sqrt(ser)

0    2.449490
1    1.732051
2    2.645751
3    2.000000
dtype: float64

In [15]:
new_dataframe= np.sqrt(df)
new_dataframe

          A         B         C         D
0  2.449490  1.732051  2.828427  1.414214
1  2.000000  1.414214  2.449490  2.000000
2  2.828427  2.449490  1.000000  1.732051

In [16]:
### O para calculos más complejos

In [17]:
np.cos(df*np.pi/4)

              A             B             C             D
0 -1.836970e-16 -7.071068e-01  1.000000e+00  6.123234e-17
1 -1.000000e+00  6.123234e-17 -1.836970e-16 -1.000000e+00
2  1.000000e+00 -1.836970e-16  7.071068e-01 -7.071068e-01

Algunos ejemplos de funciones NumPy que puedes aplicar a las series:

- `np.add()` -> suma las series que pases por argumento (aunque es más rápido usar el operador `+`, o el método `add`).
- `np.subtract()` -> resta las series que pases por argumento o un valor a todos los elementos de la serie.
- `np.divide()` -> divide una serie entre otra (elemento a elemento) o cada elemento por un número.

In [18]:
np.add(ser,ser)

0    12
1     6
2    14
3     8
dtype: int32

### Alineado de índices en Operaciones

Para operaciones binarias sobre dos objetos  
**Series** o **DataFrame**, Pandas alineará los índices en el proceso de realización de la operación.  

Esto es muy conveniente cuando se trabaja con datos incompletos, como veremos en algunos de los ejemplos que siguen

In [19]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662, 'California': 423967}, name='superficie')

poblacion = pd.Series({'California': 38332521, 'Texas': 26448193, 'New York': 19651127}, name='poblacion')

Veamos que ocurre cuando los dividimos para calcular la densidad de poblacion

In [20]:
s_poblacion_area = poblacion/area
s_poblacion_area

Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64

Cualquier elemento para el que uno u otro no tenga una entrada se marca con `NaN`, o "Not a Number", que es como Pandas marca los datos que faltan. [Y que mencionamos en alguna píldora anterior, ojo como puedes ver empiezan a ser omnipresentes, y lo seguirán siendo los `NaN` o nulos]. Esta coincidencia de índices se implementa de esta manera para cualquiera de las expresiones aritméticas incorporadas de Python; cualquier valor que falte se rellena con `NaN` por defecto:

In [25]:
A = pd.Series([2,4,6],index = ["Andalucia","Aragon","Madrid"])
B = pd.Series([1,3,5],index = ["Aragon","Madrid","Asturias"])

In [26]:
A+B

Andalucia    NaN
Aragon       5.0
Asturias     NaN
Madrid       9.0
dtype: float64

Como se tratan los NAN posteriormente en otras operaciones

In [28]:
serie_1=A+B
serie_2=serie_1+B
serie_2

Andalucia     NaN
Aragon        6.0
Asturias      NaN
Madrid       12.0
dtype: float64

Si el uso de valores `NaN` no es el comportamiento deseado, el valor de llenado puede ser modificado usando métodos de objetos apropiados en lugar de los operadores. Por ejemplo, llamar a `A.add(B)` es equivalente a llamar a `A + B`, pero permite la especificación explícita opcional del valor de relleno para cualquier elemento de `A` o `B` que pueda faltar:

In [29]:
B.add(A,fill_value=0)

Andalucia    2.0
Aragon       5.0
Asturias     5.0
Madrid       9.0
dtype: float64

In [30]:
A

Andalucia    2
Aragon       4
Madrid       6
dtype: int64

In [31]:
B

Aragon      1
Madrid      3
Asturias    5
dtype: int64