### Ejercicio 1

Piensa en al menos 3 personas que invitarías a cenar

Utiliza la lista de invitados para imprimir cada uno por pantalla, mediante un bucle:
* Ordena alfabeticamente tu lista de invitados
* ¿Quién es el primer invitado de la lista?
* Te llama uno de ellos a última hora, que no va a poder asistir. Eliminalo de la lista
* Por suerte te ha llamado un amigo que no iba a asistir y al final si puede. Añadelo a mitad de la lista

In [14]:
mis_invitados = ["Manuel","Roberto", "María", "Carla","Jesús", "David", "Laura", "Felipe"]
mis_invitados.sort()
print(mis_invitados)
print(mis_invitados[0])
mis_invitados_eliminados = mis_invitados.remove("Felipe")
print(mis_invitados)
mis_invitados.insert(4,"Santiago")
print(mis_invitados)

['Carla', 'David', 'Felipe', 'Jesús', 'Laura', 'Manuel', 'María', 'Roberto']
Carla
['Carla', 'David', 'Jesús', 'Laura', 'Manuel', 'María', 'Roberto']
['Carla', 'David', 'Jesús', 'Laura', 'Santiago', 'Manuel', 'María', 'Roberto']

### Ejercicio 2

* Crea una tupla con un único valor. 
* Comprueba su tipo
* Crea otra tupla con 3 elementos
* Añadele (como puedas) a la primera tupla, los tres elementos de la segunda
* Obtén una cuarta tupla a partir de los dos primeros valores de la tupla creada del apartado anterior

In [21]:
mi_tupla = (3,)
print(mi_tupla)
print(type(mi_tupla))
mi_tupla_modificada = (4,5,6)
mi_tupla = (mi_tupla + mi_tupla_modificada)
print (mi_tupla)
mi_tupla_4 = (mi_tupla[0:2])
print(mi_tupla_4)

(3,)
<class 'tuple'>
(3, 4, 5, 6)
(3, 4)

### Ejercicio 3

Dada la siguiente lista:

ejer_3 = [1,2,3,4,5,6]

Inviértela para que quede de la siguiente manera

ejer_3_inv = [6,5,4,3,2,1]

In [26]:
ejer_3 = [1,2,3,4,5,6]
ejer_3.reverse()
print(ejer_3)

[6, 5, 4, 3, 2, 1]

### Ejercicio 4

Concatena todos los elementos de la tupla en un unico string. Para ello utiliza el metodo .join() de los Strings

ejer_4 = ("cien", "cañones", "por", "banda")

Resultado: cien cañones por banda

In [30]:
ejer_4 = ("cien", "cañones", "por", "banda")
ejer_4_unido = " ".join(ejer_4)
print(ejer_4_unido)

cien cañones por banda

### Ejercicio 5

Dada la siguiente lista, encuentra el índice del valor 45 y sustitúyelo por el 0

In [31]:
ejer_5 = [20, 47, 19, 29, 45, 67, 78, 90]
indice = ejer_5.index(45)
ejer_5[indice] = 0
print(ejer_5)

[20, 47, 19, 29, 0, 67, 78, 90]

### Ejercicio 6

Obten el tercer elemento de la siguiente tupla, y el tercero empezando por la cola

In [39]:
ejer_6 = (3,20,3,47,19,3,29,45,67,78,90,3,3)
print(ejer_6[2])
print(ejer_6[-3])

3
90

### Ejercicio 7

Dada la siguiente lista, elimina todos los valores iguales a 3

ejer_7 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]

In [41]:
ejer_7 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
for n in ejer_7.copy():
    if n == 3:
        ejer_7.remove(n)

print(ejer_7)

[20, 47, 19, 29, 45, 67, 78, 90]